{% load static %}
<link rel="stylesheet" href="{% static 'css/moliya.css' %}?v=20260502-debtors-v2">

<header class="moliya-header">
    <div class="moliya-header__row">
        <div class="moliya-header__title">
            <div class="moliya-header__icon">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <div>
                <h1 class="moliya-header__heading">Moliya</h1>
                <p class="moliya-header__sub">To'lovlar, qarzdorlar va xarajatlar tahlili</p>
            </div>
        </div>

        <nav class="moliya-tabs" aria-label="Moliya tablari">
            <a href="{% url 'education:tolovlar_home' %}"
                class="moliya-tab {% if request.resolver_match.url_name == 'tolovlar_home' %}active{% endif %}">
                To'lovlar
            </a>
            <a href="{% url 'education:qarzdorlar_home' %}"
                class="moliya-tab {% if request.resolver_match.url_name == 'qarzdorlar_home' %}active{% endif %}">
                Qarzdorlar
            </a>
            <a href="{% url 'store:expenses' %}"
                class="moliya-tab {% if request.resolver_match.url_name == 'expenses' %}active{% endif %}">
                Xarajatlar
            </a>
            <a href="{% url 'store:payment_methods' %}"
                class="moliya-tab {% if request.resolver_match.url_name == 'payment_methods' %}active{% endif %}">
                To'lov usullari
            </a>
        </nav>

        <div class="moliya-toolbar">
            {% if request.resolver_match.url_name == 'expenses' %}
            <a href="{% url 'store:expenses_export_xlsx' %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}"
                class="moliya-toolbar__btn moliya-toolbar__btn--excel" title="Excelga yuklab olish">
                <i class="fa-solid fa-file-excel"></i>
            </a>
            {% endif %}
            {% include "components/profile_dropdown.html" %}
        </div>
    </div>
</header>
