{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center mb-0">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link bg-dark border-white border-opacity-10 text-white rounded-start-3"
                href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'page_size' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% if per_page and not request.GET.per_page %}&per_page={{ per_page }}{% endif %}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active">
            <span class="page-link bg-primary border-primary text-white">{{ num }}</span>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
            <a class="page-link bg-dark border-white border-opacity-10 text-white"
                href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'page_size' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% if per_page and not request.GET.per_page %}&per_page={{ per_page }}{% endif %}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link bg-dark border-white border-opacity-10 text-white rounded-end-3"
                    href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'page_size' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% if per_page and not request.GET.per_page %}&per_page={{ per_page }}{% endif %}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
    </ul>
</nav>
{% endif %}
